<div class=" mx-auto" style="max-width: 90%;">
  <div class="card mb-3 mx-auto">
    <div class="row g-0">
      <div class="col-md-4 align-self-center">
        <img src="{{user.image}}" class="img-fluid ms-4 me-1" width="350rem" height="350rem" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ms-4">
          <h5>{{user.name}}</h5>
          <p>{{user.email}}</p>
          <p><strong>{{#length user.Comments}}{{/length}} </strong>已評論餐廳</p>
          <p><strong>{{#length user.FavoritedRestaurants}}{{/length}} </strong>收藏論餐廳</p>
          <p><strong>{{#length user.Followings}}{{/length}} </strong>followings(追蹤)</p>
          <p><strong>{{#length user.Followers}}{{/length}} </strong>followers(粉絲)</p>
          {{#ifCond Currentuser.id user.id}}
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>{{/ifCond}}
          {{#if this.isFollowed }}
          <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">取消追蹤</button>
          </form>
          {{else}}
          <form action="/following/{{user.id}}" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-primary">追蹤</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-lg-between">
    <div style="width: 33%;">
      <div class="card mb-3">
        <div class="card-header">
          <strong>{{#length user.Followings}}{{/length}} </strong>followings(追蹤)
        </div>
        <div class="card-body d-flex">
          {{#each user.Followings}}
          <a href="/users/{{this.id}}">
            {{#if this.image}}
            <img src="{{this.image}}" width="40px" height="40px" style="transition: opacity 0.5s; opacity:0; margin-right:2px;"
              onload="this.style.opacity=1;" />
            {{else}}
            <img src="https://fakeimg.pl/40x40/" width="40px" height="40px" style="margin-right:2px;"/>
            {{/if}}</a>
          {{/each }}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>{{#length user.Followers}}{{/length}} </strong>followers(粉絲)
        </div>
        <div class="card-body d-flex">
          {{#each user.Followers}}
          <a href="/users/{{this.id}}">
            {{#if this.image}}
            <img src="{{this.image}}" width="40px" height="40px" style="transition: opacity 0.5s; opacity:0; margin-right:2px;"
              onload="this.style.opacity=1; " />
            {{else}}
            <img src="https://fakeimg.pl/40x40/" width="40px" height="40px" style="margin-right:2px;"/>
            {{/if}}</a>
          {{/each }}
        </div>
      </div>
    </div>
    <div style="width: 66%;">
      <div class="card mb-3">
        <div class="card-header">
          <strong>{{#length user.Comments}}{{/length}} </strong>已評論餐廳
        </div>
        <div class="card-body d-flex">
          {{#each user.Comments}}
          <a href="/restaurants/{{this.Restaurant.id}}">
            {{#if this.Restaurant.image}}
            <img src="{{this.Restaurant.image}}" width="40px" height="40px" style="transition: opacity 0.5s; opacity:0; margin-right:2px;"
              onload="this.style.opacity=1;" />
            {{else}}
            <img src="https://fakeimg.pl/40x40/" width="40px" height="40px" style="margin-right:2px;"/>
            {{/if}}</a>
          {{/each }}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>{{#length user.FavoritedRestaurants}}{{/length}} </strong>收藏論餐廳
        </div>
        <div class="card-body d-flex">
          {{#each user.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}">
            {{#if this.image}}
            <img src="{{this.image}}" width="40px" height="40px" style="transition: opacity 0.5s; opacity:0; margin-right:2px;"
              onload="this.style.opacity=1;" />
            {{else}}
            <img src="https://fakeimg.pl/40x40/" width="40px" height="40px" style="margin-right:2px;" />
            {{/if}}</a>
          {{/each }}
        </div>
      </div>
    </div>
